{% extends 'base.html' %}

{% load static %}

{% block css %} 
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock css %}


{% block title %} Products {% endblock title %}

{% block content %}

{% include 'includes/header.html' %}
    <div class="main-details">
        <div class="table-sale">
            <div class="table-sale-headers">
                <div class="sale-header">
                    Product
                </div>
                <div class="sale-header">
                    Product amount
                </div>
                <div class="sale-header">
                    Price sale
                </div>
                <div class="sale-header">
                    Purchase price
                </div>
                <div class="sale-header">
                    Revenue
                </div>
            </div>
            {% for sale in sales %}
                <div class="table-sale-row">
                    <div class="table-item id">
                        {{sale.product_name.name}}
                    </div>    
                    <div class="table-item">
                        {{sale.amount}}
                    </div>  
                    <div class="table-item">
                        {{sale.price_sale}}
                    </div>  
                    <div class="table-item">
                        {{sale.purchase_price}}
                    </div>
                    <div class="table-item">
                        {{ sale.revenue }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}