{% extends 'base.html' %}


{% block title %}
    Forgot password
{% endblock title %}


{% block content %}

    {% include 'includes/header.html' %}

    <div class="main-login">
        <div class="login">
            <form method="post" class="login-form">{% csrf_token %}
                <div class="form-item">
                    <label for="id_username">Usermane</label>
                    {{form.username}}
                </div>
                <div class="form-item">
                    <label for="id_password" class="update-psw-lbl">Current password</label>
                    {{form.old_password}}
                </div>
                <div class="form-item">
                    <label for="id_password">New password</label>
                    {{form.new_password}}
                </div>
                <button type="submit" class="login-btn">Update</button>
            </form>
            <div class="login-actions">
                <a href="{% url 'users_app:register' %}" class="login-action">Create account</a>
                <a href="{% url 'users_app:login' %}" class="login-action">Login</a>
            </div>
        </div>
    </div>

    
{% endblock content %}