{% extends 'base.html' %}


{% block title %}
    Register
{% endblock title %}


{% block content %}

    {% include 'includes/header.html' %}

    <div class="main-register">
        <div class="register-form">
            <div class="form">
                <form method="post" class="register-form-fields">{% csrf_token %}
                    {{ form }}
                    <div class="btn-register">
                        <button type="submit" class="register-btn">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock content %}