{% extends 'base.html' %}

{% load static %}

{% block title %} Add a new color {% endblock title %}

{% block content %}

{% include 'includes/header.html' %}

    <div class="create-product-main">
        <div class="form-color">
            <form method="post" class="create-form" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-item">
                    <label for="id_color">Name </label>
                    {{ form.color }}
                </div>
                <div class="btn">
                    <button type="submit" class="create-prod-btn">Add color</button>
                </div>
            </form>
        </div>
    </div>



{% endblock content %}